<template name="itemarticulos">
	{{#each foo}}
		{{>itemplantilla}}
	{{/each}}
</template>
<template name="itemplantilla">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="/articulo/{{_id}}"><h3 class="panel-title">{{title}}</h3> Fecha: {{current_date}}</a> 
		</div>
		<div class="panel-body">
			<img src="{{images}}" width="400px" alt="">
			{{text}}
		</div>
		<div class="panel-footer">
				Autor: <b>{{autors}}</b>
				<div class="row">
					{{coments}}
				</div>
		</div>
	</div>	
</template>