<template name="registerposts">
	{{#if currentUser}}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form action="" id="formregister" method="POST" class="form-horizontal" role="form">
			<div class="form-group">
				<legend>Nuevas Noticias</legend>
			</div>
	
			<input type="text" name="title" id="inputTitle" class="form-control" value="" placeholder="Titulo"  title="">
			
			<input type="text" name="autor" id="inputTitle" class="form-control"  disabled="true" value="{{correo}}" placeholder="Autor"  title="">
			
			<textarea name="text" id="input" class="form-control" rows="3" ></textarea>
			
			
			
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" id="btnsend" class="btn btn-primary">Enviar</button>
				</div>
			</div>
	</form>		
		</div>
	</div>
	{{/if}}
</template>